body {
  background-color: #eee;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
  width: 100%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

@mixin rounded-top {
  $radius: 10px;

  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@font-face {
  font-family: DoulosSILW;
  src: url(DoulosSIL-R.woff);
}
$topbarheight: 40px;
div#topbar{
  position: fixed;
  top: 0px;
  height: $topbarheight;
  width: 100%;
  background: #9C0505;
  h1{
    color: white;
    margin: 5px;
    margin-left: 8%;
  }
  span#links{
    top: 20%;
    position: absolute;
    margin: 5px;
    margin-left: 50%;
    width: 50%;
    font-size: 16px;
    a:link, a:visited{
      color: white;
    }
  }
}
div#content{
    margin-top: $topbarheight  + 10px;
    width: 60%;
    margin-left: 8%;
}
div#transcriptionguide{

    @include rounded-top;

    width: 20%;
    position: fixed;
    top: 150px;
    right: 8%;
    background: #9cf;
    @media screen and (max-device-width: 480px){
        display: none;
    }
    li{
        list-style-type: none;
    }
    h3{
        text-align: center;
        margin: 3px;
    }
    .ipa{
        margin-left: 0px;
    }
    .ipa.ipachar{
        font-family: DoulosSILW, sans-serif;
    }
    .practicalorth{
        position: absolute;
        left: 220px;
    }
}









